
.circle {
	position: relative;
	border: 2px solid #999;
	border-radius: 100%; 
	width: 16px; 
	line-height: 16px; 
	text-align: center; 
	margin-top: 16px; 
	background-color: #fff; 
	z-index: 2;
}

.circle:first-child {
	margin-top: 0;
}

.circle:before {
	position: absolute;
	border: 1px solid #999;
	width: 0;
	height: 16px;
	display: block; 
	content: ''; 
	left: 50%;
	z-index: 1; 
	top: -18px;
	margin-left: -1px;
}

.circle:first-child:before {
	display: none;
}

.circle-begin{
	background-color: red;
}

.circle-end{
	background-color: green;
}

table.blueTable {
	border: 1px solid #1C6EA4;
	background-color: #EEEEEE;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

table.blueTable td, table.blueTable th {
	border: 1px solid #AAAAAA;
	padding: 3px 3px;
}

table.blueTable tbody td {
	font-size: 15px;
}

table.blueTable tr:nth-child(even) {
	background: #D0E4F5;
}

table.blueTable thead {
	background: #1C6EA4;
	border-bottom: 2px solid #444444;
}

table.blueTable thead th {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	border-left: 2px solid #D0E4F5;
}

table.blueTable thead th:first-child {
border-left: none;
}

table.blueTable tfoot td {
font-size: 14px;
}

table.blueTable tfoot .links {
	text-align: right;
}

table.blueTable tfoot .links a{
	display: inline-block;
	background: #1C6EA4;
	color: #FFFFFF;
	padding: 2px 8px;
	border-radius: 5px;
}
